<div class="container-fluid design-container">
  <div class="design-background">
    <img src="{{bgPath}}" alt="design_background" class="bg-image">
  </div>
  <div class="row design-row">
    <div class="col design-col">
      <div class="card design-card">
        <div class="design-tabs-container">
          <ul class="nav design-tabs">
            <li class="nav-item">
              <a class="nav-link">
                <div class="round-icon">
                  <!-- styles image goes here -->
                </div>
                <div>Styles</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="round-icon">
                  <img src="../../../assets/images/icon-paint.svg" alt="paint" class="round-icon-img">
                </div>
                <div class="nav-link-text">Colours</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="round-icon">
                  <img src="../../../assets/images/icon-image.svg" alt="image" class="larger-size-adjust round-icon-img">
                </div>
                <div>Graphics</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="round-icon">
                  <img src="../../../assets/images/icon-text.svg" alt="text" class="round-icon-img">
                </div>
                <div>Text</div>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="1">

          </div>
          <div class="tab-pane" id="2">

          </div>   
          <div class="tab-pane" id="3">

          </div>   
          <div class="tab-pane" id="4">

          </div>       
        </div>
      </div>
    </div>
    <div class="col design-col">
      <div class="card "></div>
    </div>
  </div>
</div>
