.design-container {
    padding: 0;
    overflow: hidden;
}

.bg-image {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    margin: -10px -15px;
}

.round-icon {
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    background-color: #888888;
    box-shadow: 0px 3px 6px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.larger-size-adjust {
    width: 40px !important;
    height: 40px !important;
}

.round-icon-img {
    width: 20px;
    height: 20px;
}

.design-background {
    overflow: hidden;
    position: fixed;
    opacity: 0.95;
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

.design-row {
    margin: 0;
}

.design-col {
    align-self: center;
}

.design-card {
    max-width: 385px;
    height: 620px;
    align-items: center;
    background-color: #444444;
    padding: 0;
    border: none;
    border-radius: 10px;
}

.design-tabs-container {
    width: 100%;
}

.design-tabs {
    background-color: #444444;
    justify-content: center;
}

.design-tabs li .nav-link{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #CDCDCD !important;
    border-style: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.design-tabs li .nav-link.active {
    color: #FFFFFF !important;
    background-color: transparent !important;
    border-bottom: 2px solid #10A2DC !important;
}

.design-tabs li .nav-link.active .round-icon {
    background-color: #16A1DC;
}